header {
    width: 100%;
    height: 107px;
    position: relative;
    z-index: 6;


    nav {
        width: inherit;
        height: inherit;
        // background-color: #ffffff;
        background-color: #ffffff;
        position: fixed;
        border: none;
        outline: none;
        z-index: -10;
        overflow: hidden;
        border-bottom: 1px solid #343531;


        #manage-top-head {
            width: 100%;
            height: max-content;
            border-bottom: 1px solid #343531;

            #manage-firstBox-head {
                width: 70%;
                min-height: 36px;
                background-color: rgb(255, 255, 255);
                margin: 0 auto;

                #manage-address {
                    width: 100%;
                    height: 36px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;

                    #address {
                        display: flex;
                        line-height: 0;

                        a {

                            #icon-call,
                            #email {
                                color: #00D9A5;
                            }

                            span {
                                margin-left: 5px;
                                color: #A1AAA7;
                                font-size: 16px;
                                transition: all 0.2s ease;
                            }

                            span:hover {
                                color: #1e1f1c;
                            }
                        }

                        #Vertical-line {
                            display: block;
                            transform: rotate(90deg) !important;
                            font-size: 15px;
                            margin: 0 4px;
                        }
                    }

                    #social-media {
                        display: flex;

                        a {
                            width: 25px;
                            height: 36px;
                            padding-top: 8.4px;
                            display: block;
                            background-color: rgb(255, 255, 255);
                            color: #6E807A;
                            margin-left: 17px;
                            text-align: center;
                            transition: all 0.2s ease;
                        }

                        a:nth-child(1):hover {
                            color: #4267B2;
                        }

                        a:nth-child(2):hover {
                            color: #C13584;
                        }

                        a:last-of-type:hover {
                            color: #1DA1F2;
                        }
                    }
                }
            }
        }


        #manage-twoBox-head {
            width: 70%;
            min-height: 70px;
            background-color: rgb(255, 255, 255);
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            #form {
                width: max-content;
                display: flex;

                article {
                    min-height: 70px;
                    display: flex;
                    align-items: center;
                    font-family: sans-serif;
                    user-select: none;

                    span {
                        display: block;
                        font-size: 20px;
                    }

                    span:first-of-type {
                        color: #00D9A5;
                    }
                }

                form {
                    min-height: 70px;
                    display: flex;
                    align-items: center;
                    margin-left: 16px;
                    user-select: none;

                    .input-group-text {
                        background-color: #ffffff;
                        cursor: pointer;
                    }

                    #icon-search {
                        color: #00D9A5;
                        height: 25px;
                    }

                    .form-control:focus {
                        color: #212529;
                        background-color: #fff;
                        border-color: #86b7fe;
                        outline: 0;
                        box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
                    }

                    .input-group-text {
                        cursor: auto !important;
                    }
                }
            }


            #menu {
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                box-sizing: border-box;

                li {
                    user-select: none;
                    margin-left: 28px;
                    font-size: 20px;
                    color: #6E807A;
                    transition: all 0.2s ease;
                    height: 40px;
                    line-height: 40px;

                    label {
                        cursor: pointer;
                    }

                    input[type="radio"] {
                        display: none !important;
                    }

                    input[type="radio"]:checked+label {
                        color: #00D9A5;
                    }

                    #login-register {
                        background-color: #00D9A5;
                        box-sizing: border-box;
                        font-weight: bold;
                        font-family: sans-serif;
                        text-transform: capitalize;
                    }

                    .btn {
                        box-shadow: none;
                        padding: 8px 24px;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}